.container{
    background-color: #2B4B48;
    height: 700px;
    width: 700px;
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: flex-end;
    margin: 1% 25% 1% 25%;
}

.box-red{
    width: 233px;
    height: 233px;
    background-color: #D04630 ;
}

.box-blue{
    width: 233px;
    height: 233px;
    background-color: #3076D0;
}

.box-green{
    width: 233px;
    height: 233px;
    background-color: #30D06F ;
}

.red{
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.blue{
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.green{
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
}
